<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 Modal 창!!</title>
    <th:block th:replace="fragments/header.html :: header-fragment"></th:block>
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
<!----------------------------------------- click post Modal ----------------------------------------->
<div th:fragment="postModal(postId)" class="modal fade bd-example-modal-lg" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="post-modal">
            <div class="contents cont01">
                <div class="img_section">
                    <div class="trans_inner">
                        <div><img id="modalImage" src="" /></div>
                        <input type="hidden" id="" name="postIdInput"/>
                    </div>
                </div>
                <div class="detail--right_box" id="detail--right_box">
                    <!--게시글 내용과 댓글 삽입 : header class="top"-->
                    <section class="scroll_section" id="scroll_section">
                        <header class="top">
                            <div class="user_container">
                                <span class="user_id" id="user_id"></span>
                                <span id="post_content" style="font-size: small"></span>
                            </div>
                            <button type="button" class="btn" id="spriteMore-Button" data-bs-target="#postSettingModal" data-bs-toggle="modal">
                                <div class="sprite_more_icon" data-name="more"></div>
                            </button>
<!--                            <div class="sprite_more_icon" data-name="more"></div>-->
                        </header>
                        <div id="commentBox">
                        </div>
                    </section>
                    <div class="commit_field">
                        <input type="text" id="inputComment" placeholder="댓글달기.." style="width: 90%">
                        <button type="button" class="upload_btn" id="uploadComment" data-dismiss="modal" style="width: 15%">게시</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<th:block th:replace="fragments/footer.html :: footer-fragment"></th:block>-->
<!--<script src="/js/posts.js"></script>-->
</body>
</html>