<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 이미지 업로드 Modal 창!!</title>
</head>
<body>
<!----------------------------------------- Modal ----------------------------------------->
<div th:fragment="profileModal" class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="profileModalLabel">프로필 사진 바꾸기</h5>
                <!--                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body d-flex flex-column">
                <button type="button" class="btn btn-light _a0" id="openImgUpload">프로필 사진 업로드</button>
                <input type="file" id="myFile" name="myFile" style="display: none">
                <button type="button" class="btn btn-light _a0">현재 사진 삭제</button>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" id="saveFile" data-bs-dismiss="modal">저장</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>