<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header.html :: header-fragment"></th:block>
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
<section id="container">
    <div id="main_container">
        <section class="b_inner">
            <div class="hori_cont">
                <form method="post" enctype="multipart/form-data">
                    <div class="profile_wrap">
                        <div class="profile_img">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#profileModal">
<!--                                <img src="" alt="" id="profileImage">-->
                                <img th:src="@{/upload/} + ${profileImage.storedFileName}">
                            </button>
                            <!----------------------------------------- profileImage Upload Modal ----------------------------------------->
                            <div th:replace="modal/profileImageUploadModal.html :: profileModal"></div>
                        </div>
                    </div>
                </form>
                <div class="detail">
                    <div class="top">
                        <div class="user_name" th:id="user_name" th:text="${member.nickname}"></div>
                        <button type="button" class="btn btn-outline-primary" id="uploadPost" data-bs-toggle="modal" data-bs-target="#postUploadModal">게시글 업로드</button>
                        <button type="button" class="btn btn-outline-secondary" id="logout-button">로그아웃</button>
                        <div class="search_field">
                            <input type="text" class="form-control" id="search-nickname" placeholder="닉네임" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            <button type="button" class="btn btn-outline-primary" id="search-button">검색</button>
                        </div>
                        <!----------------------------------------- postUpload Modal ----------------------------------------->
                        <div th:replace="modal/postUploadModal.html :: postUploadModal"></div>
                    </div>
                    <ul class="middle">
                        <li>
                            <span>게시물</span>
                            <span id="postNumber"></span>
                        </li>
                    </ul>
                    <p class="about">
                        <span class="nick_name" id="nick_name" th:text="${member.nickname}"></span>
                        <span class="book_mark">bookmark</span>
                    </p>
                </div>
            </div>
            <div class="mylist_contents contents_container active">
<!--                추가-->
                <div class="pic" th:each="post : ${posts}">
<!--                    https://blog.naver.com/PostView.nhn?blogId=qjawnswkd&logNo=222056127110-->
                    <img th:src="@{/upload/} + ${post.imageResponseDTO.storedFileName}" th:id = "${post.id}" class="img" data-bs-toggle="modal" data-bs-target="#imageModal">
                </div>
            </div>
            <!----------------------------------------- postClick Modal ----------------------------------------->
            <div th:replace="modal/postModal.html :: postModal"></div>
            <!----------------------------------------- click setting icon Modal ----------------------------------------->
            <div th:replace="modal/postSettingModal.html :: postSettingModal"></div>
        </section>
    </div>
</section>
<th:block th:replace="fragments/footer.html :: footer-fragment"></th:block>
<script src="/js/posts.js"></script>
</body>
</html>